.Site_Wrap{
display: flex;
justify-content: center;
margin-top: 150px;
margin-bottom: 150px;
}

.Site_Wrap a{
text-decoration: none;
color: black;
font-size: 30px;
cursor: pointer;
transition: all 500ms ease;
font-family: "Roboto", sans-serif;
}
@media screen and (min-width: 1000px) and (max-width: 9999999px){
.Site_Wrap a:hover{


color: rgba(223, 179, 58, 0.582);
font-size: 30px;

cursor: pointer;
transition: all 500ms ease
}

}

@-webkit-keyframes fade-in {
    0% {
        opacity: .1
    }

    100% {
        opacity: 1
    }
}

@-moz-keyframes fade-in {
    0% {
        opacity: .1
    }

    100% {
        opacity: 1
    }
}

@-o-keyframes fade-in {
    0% {
        opacity: .1
    }

    100% {
        opacity: 1
    }
}

@keyframes fade-in {
    0% {
        opacity: .1
    }

    100% {
        opacity: 1
    }
}

body {
    -webkit-animation: fade-in 700ms linear;
    -moz-animation: fade-in 700ms linear;
    -o-animation: fade-in 700ms linear;
    animation: fade-in 700ms linear
}
