.wrap {
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 110px;
  transition: all 300ms ease;
}

.github {
  transition: all 300ms ease;
  max-height: 70px;
  height: 100%;
  background-color:
    #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-top: 15px;
  margin-left: 30px;
  margin-right: 30px;
}

.github:hover {
  width: 70px;
  height: 70px;
  background-color: #000000;
  transition: all 300ms ease
}

.github2 {
  font-size: 60px;
  color: rgb(0, 0, 0);
  justify-content: center;
  border-radius: 50%;
  display: flex;
  align-items: center;
  transition: all 300ms ease;
  text-decoration: none;
}


.github2:hover {
  font-size: 80px;
  color: rgb(255, 255, 255);
  justify-content: center;
  display: flex;
  align-items: center;
  transition: all 300ms ease;
}



.behance {
  transition: all 300ms ease;
  width: 60px;
  height: 60px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-top: 15px;
}

.behance:hover {
  width: 75px;
  height: 75px;
  background-color: #000000;
  transition: all 300ms ease
}


.behance2 {
  color: #000000;
  font-size: 45px;
  text-decoration: none;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: all 300ms ease;
}

.behance2:hover {
  color: #fff;
  transition: all 300ms ease
}

.codepen {
  transition: all 300ms ease;
  width: 60px;
  height: 60px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-top: 15px;
}

.codepen:hover {
  width: 75px;
  height: 75px;
  background-color: #000000;
  transition: all 300ms ease
}

.codepen2 {
  color: #000000;
  font-size: 45px;
  text-decoration: none;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: all 300ms ease;
}

.codepen2:hover {
  color: #fff;
  transition: all 300ms ease
}