
svg path {
  stroke:inherit;
  stroke-width:inherit;
  fill:inherit;
  }

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {

  margin: 0;
}
*{text-decoration: none;list-style-type: none;}



.tab {
 
  border: 1px solid #000;
  display: none;
  



}

.tab.active {
  display: block;
  
  transition: all 300ms ease;
}














.nav2-tab {
  display: flex;
  justify-content: center;
  align-items: center;
  
  
  height: 100%;
}



.nav2-tab.active {
  color: #ff4200;
  border-bottom:4px solid #ff6033;
  position: relative;
  top: 2px;
  
}





.nav2__item a:hover{
  
color: rgb(226, 35, 35);
} 



.nav2__item :after {
  background-color: #ff6033;
  display: none;
  content: "";
  height: 3px;
  width: 0%;
  -webkit-transition: width .3s ease-in-out;
  -moz--transition: width .3s ease-in-out;
transition: width .3s ease-in-out;
top: 6.5px;
position: relative;

}


.nav2__item :before {
  background-color: #ff6033;
  display: none;
  content: "";
  height: 3px;
  
  width: 100%;
transition: width .3s ease-in-out;
bottom: 5px;
position: relative;

}



.nav2__item :hover:after,

.nav2__item :focus :after {
  width: 100%;
  
}



.nav2__item :hover:before,

.nav2__item :focus :before {
  width: 100%;
  
}





@media screen and (min-width:1040px) and (max-width: 99999999999px)
        {
.nav2{
  
  
  display: block;
}
        }


        @media screen and (min-width:0px) and (max-width: 1040px)
        {
.nav2{
  
  
  display: block;
}
        }



        .nav2{
         
          position: sticky;
          
          top: 0px;
margin-bottom: 20px;
z-index: 99999999;

        }

        .scroll{
          
          height:40px !important;


        }


        .nav2 ul li{
          border: 1px solid rgb(255, 0, 0) !important; 
          height: 80px;
          display: flex;
          
          align-items: center;
          justify-content: center;
          transition: all 200ms ease;
          }




        .nav2 ul li:hover {
         /* background-color: rgb(214, 28, 44);*/
          
          transition: all 300ms ease;
        }




.nav2 ul{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  
  margin: 0; 
  padding: 0;
 
 height: 100%;
}
        


@media screen and (min-width:1200px) and (max-width: 99999999999px)
        {
.nav2 ul li {
  
  
  padding-right: 21px;
  padding-left: 21px;
  display: flex;
  justify-content: center;
  align-items: center;
 
 
}





@-moz-document url-prefix() {
.nav2 ul li {

 
  padding-right: 21px;
  padding-left: 21px;
 
  display: flex;
  justify-content: center;
  align-items: center;
  

}
}
        }




        @media screen and (min-width:1125px) and (max-width: 1200px)
        {
          .nav2 ul li {
           
           
            padding-right: 19px;
            padding-left: 19px;
            display: flex;
            justify-content: center;
            align-items: center;
            
           
          }
          





@-moz-document url-prefix() {
  .nav2 ul li {
    
    
    padding-right: 19px;
    padding-left: 19px;
    
    display: flex;
    justify-content: center;
    align-items: center;
   
  
  }
}
        }



        @media screen and (min-width:0px) and (max-width: 1125px)
        {
          .nav2 ul li {
           
            
            padding-right: 15px;
            padding-left: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
            
           
          }
          





@-moz-document url-prefix() {
  .nav2 ul li {
   
   
    padding-right: 15px;
    padding-left: 15px;
  
    display: flex;
    justify-content: center;
    align-items: center;
    
  
  }
}
        }






.nav2 ul a{
  white-space:  nowrap;
  font-family: Mulish;
  font-style: normal;
  font-weight: 100;
  font-size: 14px;
  line-height: 18px;
/* identical to box height */
  
 
  color: #333333;

}