
svg path {
  stroke:inherit;
  stroke-width:inherit;
  fill:inherit;
  }

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {

  margin: 0;
}
*{text-decoration: none;list-style-type: none;}



.tab {
 
  border: 1px solid #000;
  display: none;
  transition: all 100ms ease !important;



}

.tab.active {
  display: block;
  
  transition: all 400ms ease;
}


.menu{
display: flex;
justify-content: center;
margin-top: 30px;
margin-bottom: 30px;
}







.menu li{

  height: 25px;

}



.nav-tab {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1400ms ease !important;
  
  height: 100%;
}



.nav-tab.active {
  color: #ff4200;
  border-bottom:4px solid #ff6033;
  transition: all 100ms ease !important;
}





.nav__item a:hover{
  transition: all 100ms ease;
color: rgb(226, 35, 35);
} 



.nav__item :after {
  background-color: #ff6033;
  display: none;
  content: "";
  height: 3px;
  width: 0%;
  -webkit-transition: width .3s ease-in-out;
  -moz--transition: width .3s ease-in-out;
transition: width .3s ease-in-out;
top: 6.5px;
position: relative;

}


.nav__item :before {
  background-color: #ff6033;
  display: none;
  content: "";
  height: 3px;
  
  width: 100%;
transition: width .3s ease-in-out;
bottom: 5px;
position: relative;

}



.nav__item :hover:after,

.nav__item :focus :after {
  width: 100%;
  
}



.nav__item :hover:before,

.nav__item :focus :before {
  width: 100%;
  
}





@media screen and (min-width:1040px) and (max-width: 99999999999px)
        {
.nav{
  
  transition: all 100ms ease;
  display: block;
}
        }


        @media screen and (min-width:0px) and (max-width: 1040px)
        {
.nav{
  
  transition: all 100ms ease;
  display: block;
}
        }



        .nav{
          background-color: rgb(10, 34, 61);
          position: sticky;
          transition: all 200ms ease !important;
          top: 0px;
margin-bottom: 20px;
z-index: 99999999;

        }

        .scroll{
          transition: all 100ms ease;
          height:40px !important;


        }


        .nav ul li{
          
          height: 80px;
          display: flex;
          
          align-items: center;
          justify-content: center;
          transition: all 200ms ease;
          }


.lit{

  transition: all 200ms ease !important;

}


        .nav ul li:hover {
         /* background-color: rgb(214, 28, 44);*/
          
          transition: all 400ms ease;
        }




.nav ul{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  
  margin: 0; 
  padding: 0;
  
 height: 100%;
}
        


@media screen and (min-width:1200px) and (max-width: 99999999999px)
        {
.nav ul li {
  
  
  padding-right: 43px;
  padding-left: 43px;
  display: flex;
  justify-content: center;
  align-items: center;
 
 
}





@-moz-document url-prefix() {
.nav ul li {

 
  padding-right: 43.1px;
  padding-left: 43.1px;
 
  display: flex;
  justify-content: center;
  align-items: center;
  

}
}
        }




        @media screen and (min-width:1125px) and (max-width: 1200px)
        {
          .nav ul li {
           
           
            padding-right: 38px;
            padding-left: 38px;
            display: flex;
            justify-content: center;
            align-items: center;
            
           
          }
          





@-moz-document url-prefix() {
  .nav ul li {
    
    
    padding-right: 38px;
    padding-left: 38px;
    
    display: flex;
    justify-content: center;
    align-items: center;
   
  
  }
}
        }



        @media screen and (min-width:0px) and (max-width: 1125px)
        {
          .nav ul li {
           
            
            padding-right: 30px;
            padding-left: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            
           
          }
          





@-moz-document url-prefix() {
  .nav ul li {
   
   
    padding-right: 30px;
    padding-left: 30px;
  
    display: flex;
    justify-content: center;
    align-items: center;
    
  
  }
}
        }






.nav ul a{
  white-space:  nowrap;
  font-family: Mulish;
  font-style: normal;
  font-weight: 100;
  font-size: 14px;
  line-height: 18px;
/* identical to box height */
  text-transform: uppercase;
  transition: all 400ms ease;
  color: #FFFFFF;
 
}