



ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
 
  margin: 0;
}


.header_contact_wrap{
display: flex;
border: 1px solid rgb(30, 255, 0) !important; 
 
  padding-left: 60px;
  padding-right: 60px;
  
  background: #F5FAFE;

}




@media screen and (min-width:1000px) and (max-width: 999999px) {
  .header_contact_wrap{
  display: flex;
  justify-content: center;
 
  padding-left: 60px;
  padding-right: 60px;
  }
}
  @media screen and (min-width:0px) and (max-width: 900px) {
    .header_contact_wrap{
    display: flex;
  
    padding-left: 15px;
    padding-right: 15px;
    }
    }

  
   .Questions_wrap{
    
position: relative;
right: 441px;
display: flex;
flex-wrap: nowrap;
top: 2px;
padding-bottom: 22px;
padding-top: 21px;
   }


   .Questions p{
    color: #333333;
    font-family: Mulish;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 13px;

   }

   .Call p{


    font-family: Mulish;
font-style: normal;
font-weight: normal;
font-size: 10px;
line-height: 13px;
   }

 .Call {

position: relative;

left: 11px;

   }

















  .exs{


    

  }





.hd_wrap{
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  border: 1px solid rgb(0, 4, 255) !important;
  }



  .hd{
    height: 280px;
    width: 731px;
   
 
    position: relative;
left: 0px;
    
 
    border-radius: 0px;
    background: #0A223D;
    }

    .hr_1_wrap{
      position: relative;
     
          
          margin-top: 30px;
          margin-bottom: 70px !important;
      display: flex;
      justify-content: center;
      border: 1px solid rgb(0, 255, 42) !important; 


    }



    .hr_1{
     
 
      position: relative;
  left: 0px;
      
      
      
      height: 280px;
      width: 731px;
      border: 1px solid rgb(255, 0, 0) !important; 

      }
    
    
    
      .hr_2{
        height: 47.58935546875px;
width: 70px;



position: absolute;
          top: -16px;
          right: 60px;
        border-radius: 0px;
        
        }
    


       


        .hd::before {
          content: url('images/Ellipse 3.png');
          
          position: absolute;
          top: -16px;
          right: 60px;
          font-family: Georgia, serif;
          font-size: 40px;
          line-height: 1;
          font-weight: bold;
          border: 1px solid rgb(255, 0, 0) !important; 

        }