



ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}








.header_wrap{
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  border: 1px solid rgb(255, 0, 0) !important;
  }



  .header{
    height: 280px;
    width: 731px;
   
 
    position: relative;
left: 0px;
    
 
    border-radius: 0px;
    background: #0A223D;
    }

    .hr_1_wrap{
      position: relative;
     
          
          margin-top: 30px;
          margin-bottom: 70px !important;
      display: flex;
      justify-content: center;
      border: 1px solid rgb(0, 255, 42) !important; 


    }



    .hr_1{
     
 
      position: relative;
  left: 0px;
      
      
      
      height: 280px;
      width: 731px;
      border: 1px solid rgb(255, 0, 0) !important; 

      }
    
    
    
      .hr_2{
        height: 47.58935546875px;
width: 70px;



position: absolute;
          top: -16px;
          right: 60px;
        border-radius: 0px;
        
        }
    


       


        .header::before {
          content: url('../Ellipse 3.png');
          
          position: absolute;
          top: -16px;
          right: 60px;
          font-family: Georgia, serif;
          font-size: 40px;
          line-height: 1;
          font-weight: bold;
          border: 1px solid rgb(255, 0, 0) !important; 

        }