
*{text-decoration: none;}

svg path {
  stroke:inherit;
  stroke-width:inherit;
  fill:inherit;
  }

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
 
  margin: 0;
}


.header_contact_wrap{
display: flex;
border: 1px solid rgb(30, 255, 0) !important; 
 flex-wrap: wrap !important;
  padding-left: 60px;
  padding-right: 60px;

  background: #F5FAFE;

}




@media screen and (min-width:1150px) and (max-width: 999999px) {
  .header_contact_wrap{
  display: flex ;
  justify-content: center !important;
  border: 1px solid rgb(255, 0, 234) !important;
 
  
  }


  .header_contact_wrap_1 {
      
    text-decoration: none;
    position: relative;
    
 right: 275px;
    }




     .header_contact_wrap_2{
      
      display: flex;
      left: 277px;
      position: relative;
      margin-left: 0;

   
      
      
      justify-content: center;
          }


}




  @media screen and (min-width:0px) and (max-width: 1150px) {
    .header_contact_wrap{
    display: flex;
 justify-content: center;
    padding-left: 15px;
    padding-right: 15px;
    transition: all 500ms ease;
    }


    .header_contact_wrap_2{
      transition: all 500ms ease;
      display: flex;
position: relative;
margin-left: auto ;
      
      justify-content: center;
          }


    }


    .header_contact_wrap_2{
      transition: all 500ms ease;
      display: flex;
position: relative;

      
      justify-content: center;
          }




          @media screen and (min-width:0px) and (max-width: 600px) {
            .header_contact_wrap_1{
      width: 420px;
              display: flex;
              justify-content: center;
              border: 1px solid rgb(255, 0, 0) !important;
              transition: all 500ms ease;
                  }



                  .header_contact_wrap_2{
                    transition: all 500ms ease;
                    display: flex;
              position: relative;
              margin-left: 0px !important ;
                    
                    justify-content: center;
                        }
              
              
                  }




                  
          }



    .header_contact_wrap_1{
      transition: all 500ms ease;
display: flex;
justify-content: center;

    }


   







   


    @media screen and (min-width:420px) and (max-width: 999999999px) {
  
   .Questions_wrap{
border: 1px solid rgb(255, 0, 0) !important; 
position: relative;
transition: all 500ms ease;
display: flex;
flex-wrap: nowrap;

padding-bottom: 14px;
padding-top: 21px;
   }
  }



  @media screen and (min-width:0px) and (max-width: 420px) {
  
    .Questions_wrap{
 border: 1px solid rgb(255, 0, 0) !important; 
 position: relative;
 transition: all 500ms ease;
 display: flex;
 flex-wrap: nowrap;
 
 padding-bottom: 5px;
 padding-top: 5px;
    }
   }





   
   .Questions {
    
margin-right:10px ;
   }

   .Questions p{
    color: #333333;
    font-family: Mulish;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 12,55px;
    white-space: nowrap;
   }

   .Call p{

    white-space: nowrap;
    font-family: Mulish;
font-style: normal;
font-weight: normal;
font-size: 10px;
line-height: 13px;
color: #333333;
   }



   @media screen and (min-width:420px) and (max-width: 99999999px) {
   .Call a{
position: relative;
left: 5px;
    white-space: nowrap;
    font-family: Mulish;
font-style: normal;
font-weight: normal;
font-size: 10px;
line-height: 13px;
color: #333333;
transition: all 500ms ease;
   }
  }



  @media screen and (min-width:250px) and (max-width: 420px) {
    .Call a{
 position: relative;
 right: 1px !important;
     white-space: nowrap;
     font-family: Mulish;
 font-style: normal;
 font-weight: normal;
 font-size: 10px;
 line-height: 13px;
 color: #333333;
 transition: all 500ms ease;
    }
   }



  @media screen and (min-width:0px) and (max-width: 250px) {
    .Call a{
 position: relative;
 left: 0px !important;
     white-space: nowrap;
     font-family: Mulish;
 font-style: normal;
 font-weight: normal;
 font-size: 10px;
 line-height: 13px;
 color: #333333;
 transition: all 500ms ease;
    }
   }


   @media screen and (min-width:1000px) and (max-width: 99999999px) {
   .Call a:hover{

    white-space: nowrap;
    font-family: Mulish;
font-style: normal;
font-weight: bold;
font-size: 13px;
line-height: 13px;
color: #333333;
transition: all 500ms ease;
   }
  }


 .Call {
display: flex;
flex-wrap: nowrap;
position: relative;



   }

   @media screen and (min-width:420px) and (max-width: 999999999px) {
   .Gift_wrap{
    border: 1px solid rgb(255, 0, 0) !important; 
display: flex;
flex-wrap: nowrap;
position: relative;
transition: all 500ms ease;

   }


   .Gift_image_wrap {
    padding-bottom: 14px;
    padding-top: 17px;
    margin-right: 23px;
    transition: all 500ms ease;
  }

  .Gift{
    padding-bottom: 14px;
    padding-top: 20px;
    transition: all 500ms ease;
  }


  }
 


  @media screen and (min-width:0px) and (max-width: 420px) {
    .Gift_wrap{
     border: 1px solid rgb(255, 0, 0) !important; 
 display: flex;
 flex-wrap: nowrap;
 position: relative;
 transition: all 500ms ease;
 
    }
 
 
    .Gift_image_wrap {
     padding-bottom: 2px;
     padding-top: 2px;
     margin-right: 10px;
     transition: all 500ms ease;
   }
 
   .Gift{
     padding-bottom: 5px;
     padding-top: 5px;
     transition: all 500ms ease;
   }
 
 
   }




  





  .Gift_image_svg {
   cursor: pointer;
    fill:#333333;
    transition: all 1000ms ease;
    }


    @media screen and (min-width:1000px) and (max-width: 99999999px) {
.Gift_image_svg:hover {
  fill:rgb(0, 162, 255);
  transition: all 500ms ease;
  }
    }




  

  .Gift p{
font-family: Mulish;
font-style: normal;
font-weight: normal;
font-size: 10px;
line-height: 13px;
color: #333333;
white-space: nowrap;

  }


  @media screen and (min-width:700px) and (max-width: 99999999px) {
  .Loyalty_wrap{
display: flex;
flex-wrap: nowrap;
border: 1px solid rgb(21, 48, 9) !important; 
position: relative;
margin-left: 100px;
transition: all 500ms ease;
  }


  .Loyalty_image_wrap{
    transition: all 500ms ease;
    padding-bottom: 14px;
    padding-top: 17px;
    margin-right: 23px;
  }
  
  
  .Loyalty{
    position: relative;
    right: 2px;
   padding-bottom: 14px;
   padding-top: 20px;
   transition: all 500ms ease;
  }







  }


  @media screen and (min-width:420px) and (max-width: 700px) {
    .Loyalty_wrap{
  display: flex;
  flex-wrap: nowrap;
  border: 1px solid rgb(21, 48, 9) !important; 
  position: relative;
  margin-left: 65px;
  transition: all 500ms ease;
    }


    .Loyalty_image_wrap{
      transition: all 500ms ease;
      padding-bottom: 10px;
      padding-top: 17px;
      margin-right: 23px;
    }
    
    
    .Loyalty{
      position: relative;
      right: 2px;
     padding-bottom: 1px;
      padding-top: 20px;
      transition: all 500ms ease;
    }





    }


    @media screen and (min-width:0px) and (max-width: 420px) {
      .Loyalty_wrap{
    display: flex;
    flex-wrap: nowrap;
    border: 1px solid rgb(21, 48, 9) !important; 
    position: relative;
    margin-left: 46px;
    transition: all 500ms ease;
      }



      .Loyalty_image_wrap{
        transition: all 500ms ease;
        padding-bottom: 1px;
        padding-top: 2px;
        margin-right: 9px;
      }
      
      
      .Loyalty{
        position: relative;
        right: 2px;
       padding-bottom: 1px;
        padding-top: 5px;
        transition: all 500ms ease;
      }





      .Loyalty p{
        white-space: nowrap;
        font-family: Mulish;
        font-style: normal;
        font-weight: normal;
        font-size: 10px;
        line-height: 13px;
      
        
      }





      }




     



.Loyalty p{
  white-space: nowrap;
  font-family: Mulish;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 13px;

  
}

  .Loyalty_image_svg {
    cursor: pointer;
     fill:#333333;
     transition: all 1500ms ease;
     }
 
     @media screen and (min-width:1000px) and (max-width: 99999999px) {
 .Loyalty_image_svg:hover {
   fill:rgb(247, 212, 17);

   
   transition: all 500ms ease;
   }
  }































  
  .exs{


    

  }












































.hd_wrap{
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  border: 1px solid rgb(0, 4, 255) !important;
  }



  .hd{
    height: 280px;
    width: 731px;
   
 
    position: relative;
left: 0px;
    
 
    border-radius: 0px;
    background: #0A223D;
    }

    .hr_1_wrap{
      position: relative;
     
          
          margin-top: 30px;
          margin-bottom: 70px !important;
      display: flex;
      justify-content: center;
      border: 1px solid rgb(0, 255, 42) !important; 


    }



    .hr_1{
     
 
      position: relative;
  left: 0px;
      
      
      
      height: 280px;
      width: 731px;
      border: 1px solid rgb(255, 0, 0) !important; 

      }
    
    
    
      .hr_2{
        height: 47.58935546875px;
width: 70px;



position: absolute;
          top: -16px;
          right: 60px;
        border-radius: 0px;
        
        }
    


       


        .hd::before {
          content: url('images/Ellipse 3.png');
          
          position: absolute;
          top: -16px;
          right: 60px;
          font-family: Georgia, serif;
          font-size: 40px;
          line-height: 1;
          font-weight: bold;
          border: 1px solid rgb(255, 0, 0) !important; 

        }