body {
	font-size:14px;
	
}
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

.callback_button_wrap {
	position: fixed; /* Фиксированное положение */
	right: 20px; /* Расстояние от правого края окна браузера */
	bottom: 50px; /* Расстояние сверху */
 /* Поля вокруг текста */ 
border-radius: 50%;
background-color: rgba(52, 147, 231, 0.564);
color: rgb(255, 255, 255);
width: 80px;
height: 80px;
	display: flex;
	justify-content: center;
	cursor: pointer;
	transform: rotate(100deg);
	align-items: center;
	z-index: 1;
	transition: all 500ms ease;
}


.callback_button_wrap:hover {
	background-color: rgba(62, 75, 125, 0.817);
	transition: all 500ms ease;

}






.callback_button_wrap i{
font-size: 40px;
animation-name: joomly-callback-tossing;
animation-duration: 1.5s;
animation-iteration-count: infinite;
}

@keyframes joomly-callback-tossing {
  0% {transform: rotate(-8deg);}
  50% {transform: rotate(8deg);}
  100% {transform: rotate(-8deg);}
}
	

.callback_button_pulsation {
	width: 95px;
  height: 95px;
	background: rgba(52, 147, 231, 0.504);
  border-radius: 50%;
  transform: scale(.85);
  animation: pulse 2s ease-in-out infinite;
position: absolute;
z-index: 0;
}



@keyframes pulse {
  from {
    transform: scale(.85);
  }
  50% {
    transform: scale(1.1);
  }
  to {
    transform: scale(.85);
  }
}


.callback_window_wrap_1 {
display: none;
border: 2px solid rgb(0, 0, 0) !important; 
}





.callback_window_wrap {
	
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	/*
	top: 20%;
	left: 50%;
	padding: 20px;
	width: 100%;
	max-width: 300px;
*/
background: rgba(0, 0, 0, 0.415);
height: 100%;
width: 100%;
	border: 1px solid rgb(255, 0, 0) !important; 
	z-index: 1;
	opacity: 1;	
}


.callback_window {
	height: 90px;
width: 100%;
max-width: 300px;
	border: 1px solid rgb(0, 255, 60) !important; 
	background: #fff;
	margin-left: 20px;
	margin-right: 20px;
	z-index: 2;
}




.callback_window-button_close {

	border: 1px solid rgb(255, 0, 0) !important; 
	top: -20px;
	right: 0px;
	cursor: pointer;
	
}

.callback_window-button_close i {
	font-size: 27px;

}


.callback_privacy_policy_wrap{

}

.callback_privacy_policy{
	display: flex;

}

.checkbox_callback_privacy_policy_wrap{
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid rgb(255, 0, 0) !important; 
}


.checkbox_callback_privacy_policy {
	border: 1px solid rgb(255, 0, 0) !important; 

}


