/* ========================
Utilities
======================== */

.custom-control.material-checkbox {
  --color: rgb(0, 0, 0);
}
.custom-control.material-checkbox .material-control-input {
  display: none;
}
.custom-control.material-checkbox .material-control-input:checked ~ .material-control-indicator {
  border-color: var(--color);
  -webkit-transform: rotateZ(45deg) translate(1px, -5px);
          transform: rotateZ(45deg) translate(1px, -5px);
  width: 10px;
  border-top: 0px solid #fff;
  
  border-left: 0px solid #fff;
}
.custom-control.material-checkbox .material-control-indicator {
  display: inline-block;
  position: absolute;
  top: 0px;
  left: 0;
  width: 16px;
  height: 16px;
  border: 2px solid rgb(218, 218, 218);
  transition: .2s;
}










.btn-success {
  color: #fff;
  background-color: rgb(216, 163, 16);
  border-color: rgb(219, 176, 55);
}

.btn-success:hover {
  color: #fff;
  background-color: rgb(206, 162, 43);
  border-color: rgb(196, 156, 46);
}







* {
  box-sizing: border-box;
}

.cf::before,
.cf::after {
    content: "";
    display: table; 
}

.cf::after {
    clear: both;
}

html {
  position: relative;
}
/* ========================
Global
======================== */

/* body {
  color: #444;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1;
  margin: 0;
  padding: 0;
}*/

h1, h2, h3, h4, h5, h6, ul, ol, p {
  margin-top: 0;
}





.css-adaptive {
  
  max-width: 100%;
  height: auto;
}

p {
  text-align: left;
  line-height: 1.5;
}


a, a:hover{
 
  text-decoration: underline;
}

/* ========================
Containers
======================== */

.container-fluid {
  padding: 0 1em;
}

.container {
  margin: 0 auto;
  max-width: 996px;
}

/* ========================
Navigation
======================== */

@-webkit-keyframes show-header {
    0% {
        top: -4em;
        opacity: 0;
    }
    100% {
        top: 0;
        opacity: 1;
    }
}

@keyframes show-header {
    0% {
        top: -4em;
        opacity: 0;
    }
    100% {
        top: 0;
        opacity: 1;
    }
}

nav {
  background-color: #fff;
  /*box-shadow: 0 2px 2px rgba(0,0,0,.45);*/
  box-shadow: 0 1px 1px  rgba(202, 154, 23, 0.445); 
  position: relative;
  top: 0;
  text-align: center;
z-index: 9;
transition: all 500ms ease;
}




nav a, nav a:hover, nav a:active, nav a:visited {
  text-decoration: none;
  transition: all 500ms ease;
  color: rgba(202, 154, 23, 0.979);
}


.int h1 {
  text-transform: uppercase;
  text-align: center;
  margin-top: 9px;
  font-weight: 400;
  font-size: 55px;
  color: rgb(223, 190, 99);
  -moz-user-select: none;
-khtml-user-select: none;
user-select: none;
}


@media screen and (min-width:0px) and (max-width: 570px){

  .int h1 {
    text-transform: uppercase;
    text-align: center;
    margin-top: 9px;
    font-weight: 400;
    font-size: 55px;
    color: rgb(223, 190, 99);
    -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  }




}




@media screen and (min-width:0px) and (max-width: 570px){

  .int h4 {
    -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
    text-align: center;
    margin-top: -25px;
    
  font-size: 20px;
    color: rgb(223, 190, 99);
    font-weight: 400;
    margin-bottom: 18px !important;
  }
  




}







.int h4 {
  -moz-user-select: none;
-khtml-user-select: none;
user-select: none;
  text-align: center;
  margin-top: -25px;
  font-size: 20px;
  color: rgb(223, 190, 99);
  font-weight: 400;
  margin-bottom: 18px;
}







nav .nav-toggle {
  color: #444;
  cursor: pointer;
  display: inline-block;
  float: LEFT;
  font-size: 1.25em;
  padding: 1em 0;
  z-index: 1000
}

nav ul {
  border-top: 1px solid rgba(204, 204, 204, 0.281);
  clear: both;
  list-style: none;
  margin: 0 -1em;
  padding: 0;
  z-index: 999;
}

nav ul li {
  /*border-bottom: 1px solid #ccc;*/
  text-align: center;
}

nav ul li a {
 
 
  color: rgb(223, 190, 99);
  display: block;
  padding: .75em;
  text-align: left;
  
  
}

nav.sticky {
  -webkit-animation: show-header .5s ease;
          animation: show-header .5s ease;
  position: fixed;
  top: 0;
  width: 100%;
}


/* ========================
Sections
======================== */




.splash {
  /*first/ background: 
        url(5.jpg) no-repeat fixed center; 
        
	background-size: cover;*/
  color: rgb(223, 190, 99);
  position:relative;
  background: 
  url(5.jpg) no-repeat ; 

  
  background-size: 100%;
  

height: 60vw;

}







.splash .container {
  padding-top: 25vh; /* No JS fallback*/
  padding-bottom: 25vh; /* No JS fallback*/
  
}

.profile-image {
  
  border-radius: 50%;
  display: block;
  max-width: 200px;
  margin: 0 auto 1em;
  width: 100%;
}

.splash h1 {
  font-size: 3em;
  margin-bottom: .15em;
  text-align: center;
  
  
  
}

.splash .lead, .splash .continue {
  display: block;
  text-align: center;
  
}

.splash .lead {
  font-size: 1.5em;
  font-weight: 400;
  margin-bottom: 1em;
}

.splash .continue {
  font-size: 4em;
}

.splash .continue a {
  
  color: rgba(255, 255, 255, 0.61);
  display: inline-block;
  text-decoration: none;
  width: 80px;
}
.splash .continue a:hover{

  color: rgb(255, 255, 255);

}



.intro .container, .features .container, .places .container, .contact .container {
  padding: 5em 0;
}

.intro, .features, .places, .price {
  text-align: center;
}

.intro {
 
  

}


.intro p {
  color: rgb(29, 29, 29) !important; 

}



.intro h2 {
 
  
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.027);
  text-align: center;
  color: rgb(223, 190, 99);
  font-size: 40px;

}

.intro img{
  box-shadow: 0 10px 30px rgba(126, 109, 104, 0.609);
  transition: all 500ms ease;
 
}

.intro img:hover{
  box-shadow: 0 10px 30px rgba(126, 109, 104, 0.609);
  -webkit-filter: Brightness(85%);
  filter: Brightness(85%);
  transition: all 500ms ease;
}
.сontact h2{
  
  margin-top: 30px;
    text-align: center;
    color: rgb(223, 190, 99);
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.027);
    font-size: 40px;


}



.cont a:nth-child(1){

  font-family: 'Lato', sans-serif !important;
  color: black;
  text-decoration: none;
  font-size: 15px;
}


.cont p{

  font-family: 'Lato', sans-serif;
  
  font-size: 15px;
}



.btn-ins{
  color: rgb(223, 190, 99);
  font-size: 30px;
  position: relative;
  right: 40px;
  transition: all 300ms ease;
}
.btn-ins:hover{
  color: rgb(207, 170, 69);
  font-size: 30px;
  transition: all 300ms ease;
}





.btn-fb{
  color: rgb(223, 190, 99);
  font-size: 30px;
  position: relative;
  right: 17px;
  top: -2px;
  transition: all 300ms ease;
}
.btn-fb:hover{
  color: rgb(207, 170, 69);
  font-size: 30px;
  transition: all 300ms ease;
}

.weddings{
  
  
padding-bottom: 62px;

}


.placesb{

  
  padding-bottom: 62px;
}

.portfolio h2 {
  
margin-top: 30px;
  text-align: center;
  
  font-size: 40px;
  color: rgb(223, 190, 99);
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.027);
}

.portfolio h3 {
  
  margin-top: 10px;
    text-align: center;
    
    font-size: 30px;
  }

.price h2 {
  
margin-top: 25px;
  text-align: center;
  color: rgb(223, 190, 99);
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.027);
  font-size: 40px;
  
}

.price  p {
  margin-bottom: 40px;
  font-family: 'Slabo 27px', serif;
  text-decoration: none;
  color: black;
  Font-size: 20px;
  text-align: left;
  font-weight: 350;
  
  
}



  

  


.intro  p {
  margin-bottom: 40px;
  font-family: 'Slabo 27px', serif;
  text-decoration: none;
  color: black;
  Font-size: 20px;
  text-align: left;
  font-weight: 350;
  
  
}




.features img {
  display: block;
  margin: 0 auto 1em;
  max-width: 200px;
}

.features .col-3 {
  margin: 3em auto;
  width: 100%;
}



.places {
  border-top: 2px solid rgba(0, 0, 0, 0.295); 
  border-bottom: 2px solid rgba(0, 0, 0, 0.295); 
  background: rgb(178, 186, 255);
}

.gallery .gallery-image {
  margin: 1em auto;
  width: 100%;
  
}

.gallery .gallery-image img {
  background-color: rgb(252, 252, 252);
  border-radius: 4px;
  display: block;
  height: auto;
  padding: 6px;
  width: 100%;
}









/* ========================
Footer
======================== */

.footer {
  background-color: #444;
  color:  #fff;
  transition: all 500ms ease;
  text-align: center;
  text-decoration: none;
}

.footer .container {
  transition: all 500ms ease;
  padding: 1em 0;
}

.footer a {
  color: rgb(233, 181, 38);
  margin-right: 1em;
  text-decoration: none;
  transition: all 500ms ease;
}

.footer a:hover {
  transition: all 500ms ease;
  color: rgb(219, 169, 31);
  }


.footer a:last-of-type {
  margin-right: 0;
}

.ff{
  font-size: 20px;
  font-family: 'Great Vibes', cursive;
  vertical-align: middle;

color: rgb(233, 181, 38);
}
/* ========================
Media Queries
======================== */
/*@media (min-width: 768px) old*/

  



  nav ul {
    display: inline-block;
    color: #CAA270;
    font-family: Arial;
    font-size: 15px;
    line-height: 40px;
    padding: 0 10px;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    position: relative;
    text-align: center;
    }



    

    @media screen and (min-width: 50px) and (max-width: 270px) {

      nav ul {
        display: inline-block;
        color: #CAA270;
        font-family: Arial;
        font-size: 7px;
        line-height: 40px;
        padding: 0 10px;
        text-transform: uppercase;
        text-decoration: none;
        cursor: pointer;
        position: relative;
        text-align: center;
        }
    
    }


    @media screen and (min-width: 270px) and (max-width: 310px) {

      nav ul {
        display: inline-block;
        color: #CAA270;
        font-family: Arial;
        font-size: 9px;
        line-height: 40px;
        padding: 0 10px;
        text-transform: uppercase;
        text-decoration: none;
        cursor: pointer;
        position: relative;
        text-align: center;
        }
    
    }



    @media screen and (min-width: 310px) and (max-width: 330px) {

      nav ul {
        display: inline-block;
        color: #CAA270;
        font-family: Arial;
        font-size: 10px;
        line-height: 40px;
        padding: 0 10px;
        text-transform: uppercase;
        text-decoration: none;
        cursor: pointer;
        position: relative;
        text-align: center;
        }
    
    }


    @media screen and (min-width: 330px) and (max-width: 350px) {

      nav ul {
        display: inline-block;
        color: #CAA270;
        font-family: Arial;
        font-size: 12px;
        line-height: 40px;
        padding: 0 10px;
        text-transform: uppercase;
        text-decoration: none;
        cursor: pointer;
        position: relative;
        text-align: center;
        }
    
    }

    @media screen and (min-width: 350px) and (max-width: 390px) {

      nav ul {
        display: inline-block;
        color: #CAA270;
        font-family: Arial;
        font-size: 13px;
        line-height: 40px;
        padding: 0 10px;
        text-transform: uppercase;
        text-decoration: none;
        cursor: pointer;
        position: relative;
        text-align: center;
        }
    
    }

    


  
  nav ul li {
    border: none;
    display: inline-block;
    float: left;
    margin-right: 0.9em;

  }
  
  nav ul li:last-of-type {
    margin-right: 0;
    
  }
  
  nav ul li a {
    padding: 0;
  }
  
  .splash h1 {
    font-size: 3em;
    
  }
  
  .splash .lead {
    font-size: 3em;
  }
  
  .features .col-3 {
    float: left;
    margin: 2em 5% 0 0;
    padding: 0 1em;
    width: 30%;
  }
  
  .features .col-3:last-of-type {
    margin-right: 0;
  }
  
  .gallery .gallery-image {
    float: left;
    margin-right: 2.5%;
    width: 31.6666666667%;
  }
  
  .gallery .gallery-image:nth-of-type(3n) {
    margin-right: 0;
  }
  
  .contact form {
    padding: 3em 2em 2em;
     
  }
  
  .contact form input[type="submit"] {
    padding: 1em 3em;
    width: auto;
  }
  
  .contact form input.full-half {
    float: left;
    margin-right: 2.5%;
    width: 48.75%;
  }
  
  .contact form input.full-half:nth-of-type(2n) {
    margin-right: 0;
  }
  
  .contact form textarea {
    height: 12em;
    
  }
  



.fullscreen-bg {
  overflow: hidden;
  z-index: -100;
  position: relative;
  height: 100%;
  width: 100%;
  padding-top:45%;
  
}

.fullscreen-bg__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  
}

.overlay {
  
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  z-index: 4;
  border-bottom-width: 3px; /* Толщина линии внизу */
    border-bottom-style: solid; /* Стиль линии внизу */
    border-bottom-color: rgba(0, 0, 0, 0.452); /* Цвет линии внизу */
}

.overlay h1 {
  text-align:center;
  color:rgba(255, 255, 255, 0.87);
  font-size: 40px;
  margin-top:17%;

}

.contactsb{
 
  margin-top: -40px;
}

.priseb{
 
  
}

.priseb p{
  padding-bottom: 86px;
}




.splash h1 {
  text-transform: uppercase;
  text-align: center;
 padding-top: 26px;
  font-weight: 400;
  font-size: 55px;
  color: rgb(223, 190, 99);
  -moz-user-select: none;
-khtml-user-select: none;
user-select: none;  

}

.splash h4 {
 
  text-align: center;
  margin-top: -5px;
  font-size: 20px;
  color: rgb(223, 190, 99);
  font-weight: 400;
  -moz-user-select: none;
-khtml-user-select: none;
user-select: none;  
}




@media screen and (min-width: 50px) and (max-width: 555px) {
  #splash h1 {
    text-transform: uppercase;
    text-align: center;
    padding-top: 15px;
    font-weight: 400;
    
    color: rgb(223, 190, 99);
    transition: all 500ms ease; 
    /* Style for "Gallery" */
  
  
  
  font-size: 9vw;
  -moz-user-select: none;
-khtml-user-select: none;
user-select: none;  
  
  }

  #splash h4 {
    font-size: 4vw;
    
    text-align: center;
   
    font-weight: 400;
    
    color: rgb(223, 190, 99);
    transition: all 500ms ease; 
  
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;  
  
  

  }




 








  }


 










div.scrollup {
  position: fixed; /* фиксированная позиция */
  /*color: rgba(0, 129, 204, 0.644);*/ /* цвет текста */
  /*color: rgba(8, 8, 8, 0.425);*/
  color: rgba(223, 190, 99, 0.733);
  right: 20px; /* расстояние от правого края */
  bottom: 0px; /* расстояние от нижнего края */
  padding: 4px 10px; /* отступы до содержимого блока */
  font-size: 45px; /* размер шрифта (иконки) */
  border-top-left-radius: 4px; /* скругление верхнего левого угла */
  border-top-right-radius: 4px; /* скругление верхнего правого угла */
  cursor: pointer; /* форма курсора */
  display: none; /* не отображать элемент */
  text-align: center; /*выравнивание содержимого элемента по центру */
  transition: all 500ms ease;
z-index: 9;
}
div.scrollup:hover {
  /*color: rgba(2, 110, 173, 0.644);*/ 
  /*color: rgba(0, 0, 0, 0.329);*/
  color: rgba(233, 181, 38, 0.685);
  transition: all 500ms ease;
}

        @media screen and (max-device-width: 685px) {
          .overlay h1 {text-align:center;
            color:rgba(255, 255, 255, 0.63);
            font-size: 30px;
            margin-top:17%;
          
          }
        
        
          @media screen and (max-device-width: 405px) {
            .overlay h1 {text-align:center;
              color:rgba(255, 255, 255, 0.63);
              font-size: 20px;
              margin-top:17%;
            
            }
        
            @media screen and (max-device-width: 295px) {
              .overlay h1 {text-align:center;
                color:rgba(255, 255, 255, 0.63);
                font-size: 20px;
                margin-top:17%;
              
              }
        
              @media screen and (max-device-width: 195px) {
                .overlay h1 {text-align:center;
                  color:rgba(255, 255, 255, 0.63);
                  font-size: 15px;
                  margin-top:17%;
                
                }


                .thumb img {
            
                  width: 250px; height: 150px; object-fit: cover;
       
      
        }
              .thumb img:hover {
                  -webkit-filter: opacity(90%);
                  filter: opacity(90%);
                  
              }
      
              .thumb {
                  padding: 9px;
                   }
      
      
      
      
              .container{
                 
                  width: 100%;
              }



              


                /*a:active, a:focus { outline: none; }

input, textarea {outline:none;}
input:active, textarea:active {outline:none;}
:focus {outline:none;}
textarea {resize:none;}
textarea {resize:vertical;}
textarea {resize:horizontal;}*/



a.active.focus,
a.active:focus,
a.focus,
a:active.focus,
a:active:focus,
a:focus,
button.active.focus,
button.active:focus,
button.focus,
button:active.focus,
button:active:focus,
button:focus,
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
outline: 0!important;
outline-color: transparent!important;
outline-width: 0!important;
outline-style: none!important;
box-shadow: 0 0 0 0 rgba(0,123,255,0)!important;
} 

              